<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginPageServlet</servlet-name>
        <servlet-class>com.mycompany.postbook_maven_version.LoginPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginExecuteServlet</servlet-name>
        <servlet-class>com.mycompany.postbook_maven_version.LoginExecuteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveServlet</servlet-name>
        <servlet-class>com.mycompany.postbook_maven_version.SaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.postbook_maven_version.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPostServlet</servlet-name>
        <servlet-class>com.mycompany.postbook_maven_version.ShowPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPostServlet</servlet-name>
        <servlet-class>com.mycompany.postbook_maven_version.GetPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostCommentServlet</servlet-name>
        <servlet-class>com.mycompany.postbook_maven_version.AddPostCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.mycompany.postbook_maven_version.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPageServlet</servlet-name>
        <url-pattern>/loginpage.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginExecuteServlet</servlet-name>
        <url-pattern>/loginExecute.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveServlet</servlet-name>
        <url-pattern>/saveprofile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPostServlet</servlet-name>
        <url-pattern>/showpost.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPostServlet</servlet-name>
        <url-pattern>/getpost.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostCommentServlet</servlet-name>
        <url-pattern>/addpc.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>showpost.do</welcome-file>
    </welcome-file-list>
</web-app>
